body {
     margin: 0;
     padding: 0;
     font-family: "Poppins", sans-serif;
}

/* Main-banner start */

.main-banner {
     display: flex;
     max-width: 100%;
     justify-content: space-evenly;
     align-content: center;
     padding: 0 35px;
}
.main-banner-laeft {
     width: 40%;
     padding-top: 50px;
}
.main-banner-right {
     width: 40%;
}

.main-banner-laeft h1 {
     font-family: "Luxurious Roman", cursive;
     font-size: 69px;
     color: #626060db;
     font-weight: 600;
     padding-left: 5px;
     border-left: 4px solid;
     border-image: linear-gradient(#c74c2a, #db944a) 30;
}

/* for yellow color */
.color {
     color: #e7973bcb;
}
.my-word {
     font-size: 17px;
     font-weight: 300;
     margin-bottom: 40px;
}

.btn {
     text-decoration: none;
     background: #f76f6fd6;
     padding: 10px 30px;
     color: #fff;
     border-radius: 9px;
}
.scroll {
     font-size: 14px;
     font-weight: 300;
     margin-top: 80px;
}
.main-banner-right img {
     width: 85%;
     padding-left: 50px;
}

/* main-banner end */

/* item section start */

.mission {
     max-width: 100%;
     padding-top: 60px;
}
.mission h2 {
     font-size: 45px;
     color: #6464c5;
     text-align: center;
}
.mission-item {
     display: flex;
     max-width: 100%;
     align-items: center;
     justify-content: space-evenly;
     padding: 30px 50px;
}
.items {
     width: 33%;
     text-align: center;
     padding: 20px 25px;
     margin: 13px;
     border-radius: 25px;
}
.items img {
     width: 32%;
}
.bg-1 {
     background: #dfd6edc7;
}
.bg-2 {
     background: #cfe7e3e0;
}
.bg-3 {
     background: #f5e8d7;
}
.items p {
     font-weight: 400;
     color: #727070e0;
}

/* item section end */

.develop {
     display: flex;
     max-width: 100%;
     justify-content: space-evenly;
     padding-top: 50px;
     background: url(img/shape-1.png) no-repeat;
     background-size: 150px 150px;
     background-position: 0 150px;
     margin: 50px 0;
}

.develop-left {
     width: 35%;
     padding-left: 30px;
}
.img {
     width: 80%;
}
.develop-right {
     width: 55%;
}
.dev-heading {
     font-size: 35px;
     color: #2c2626db;
}
.dev-pera {
     font-size: 18px;
     font-weight: 400;
     color: #747272;
     padding-bottom: 65px;
}

.develop-2 {
     display: flex;
     max-width: 100%;
     justify-content: space-evenly;
     padding-top: 50px;
     background: url(img/shape-1.png) no-repeat;
     background-size: 150px 150px;
     background-position: bottom right 30px;
     margin: 50px 0;
}
.develop-left-2 {
     width: 55%;

     padding-left: 30px;
}
.develop-right-2 {
     width: 35%;
     /* padding-right: 30px; */
}
